<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载数据源-->
    <context:property-placeholder location="classpath:properties/*.properties"/>

	<!-- 配置数据库连接池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		
		<property name="filters" value="${filters}" />
		<!-- 最大并发连接数 -->
		<property name="maxActive" value="${maxActive}" />
		<!-- 初始化连接数量 -->
		<property name="initialSize" value="${initialSize}" />
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="${maxWait}" />
		<!-- 最小空闲连接数 -->
		<property name="minIdle" value="${minIdle}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="${timeBetweenEvictionRunsMillis}" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="${minEvictableIdleTimeMillis}" />
		<property name="validationQuery" value="${validationQuery}" />
		<property name="testWhileIdle" value="${testWhileIdle}" />
		<property name="testOnBorrow" value="${testOnBorrow}" />
		<property name="testOnReturn" value="${testOnReturn}" />
		<property name="maxOpenPreparedStatements" value="${maxOpenPreparedStatements}" />
		<!-- 打开removeAbandoned功能 -->
		<property name="removeAbandoned" value="${removeAbandoned}" />
		<!-- 1800秒，也就是30分钟 -->
		<property name="removeAbandonedTimeout" value="${removeAbandonedTimeout}" />
		<!-- 关闭abanded连接时输出错误日志 -->
		<property name="logAbandoned" value="${logAbandoned}" />
	</bean>

	<!-- 配置mybatis -->
	<bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
		<!-- 数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- mybatis配置文件位置 -->
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"></property>
		<!-- MyBatis Mapper 所对应的 XML 文件位置 
		<property name="mapperLocations" value="classpath:com.vrain.mapper.xml/*.xml"/>-->
		<!-- 别名处理 -->
		<property name="typeAliasesPackage" value="com.vrain.entity"></property>		
		<!-- 注入全局MP策略配置 -->
		<property name="globalConfig">
	        <bean class="com.baomidou.mybatisplus.core.config.GlobalConfig">
	            <!-- 是否缓存 Sql 解析，默认不缓存。 -->
	            <property name="sqlParserCache" value="false"/>
	            <!-- DB 策略配置 -->
	            <property name="dbConfig">
	                <bean class="com.baomidou.mybatisplus.core.config.GlobalConfig.DbConfig">
	                	<!-- 是否开启大写命名（默认不开启） -->
	                    <property name="capitalMode" value="false"/>
	                    <!-- 是否开启 LIKE 查询，即根据 entity 自动生成的 where 条件中 String 类型字段 是否使用 LIKE，默认不开启。 -->
	                    <property name="columnLike" value="false"/>
	                    <!-- 逻辑已删除值,(逻辑删除下有效) -->
	                    <property name="logicDeleteValue" value="1"/>
	                    <!-- 逻辑未删除值,(逻辑删除下有效) -->
	                    <property name="logicNotDeleteValue" value="0"/>
	                    <!-- 表名、是否使用下划线命名，默认数据库表使用下划线命名 -->
	                    <property name="tableUnderline" value="true"/>
	                </bean>
	            </property>
	        </bean>
	    </property>
		<!-- 插件注册 -->
		<property name="plugins">
			<list>
				<!-- 注册分页插件 -->
				<bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"></bean>
				<!-- 注册执行分析插件
				<bean class="com.baomidou.mybatisplus.extension.plugins.SqlExplainInterceptor">
					<property name="stopProceed" value="true"></property>
				</bean> -->
				
				<!-- 注册性能分析插件 -->
				<bean class="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor">
					<property name="format" value="true"></property>
					<property name="maxTime" value="200"></property>
				</bean>
				
				<!-- 注册乐观锁插件 -->
				<!-- <bean class="com.baomidou.mybatisplus.extension.plugins.OptimisticLockerInterceptor"></bean> -->
			</list>
		</property>
	</bean>
	
    <!--扫描mapper接口位置-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.vrain.mapper"/>
    </bean>

</beans>